body{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.btn{
    padding: 20px 40px;
    background: gold;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.btn::after{
    content: "";
    background-color: orangered;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: absolute;
    top: var(--xVal);  /*check js*/
    left: var(--yVal);  /*check js*/
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;
    z-index: -10;
}

.btn:hover::after{
    width: 300px;
    height: 300px;
}